# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
out-tsc
bin
obj

# dependencies
node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - VS
.vs/*

# misc
npm-debug.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db

# Terraform
.terragrunt-cache
.terraform
*.tfstate
*.tfstate.*
*.auto.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Temp files
*~

# Env
.env
.env.*

# JetBrains
.idea/aws.xml
.idea/protobuf.xml
.idea/copilot*
.idea/codeStyles
.idea/dbNavigator.xml