<!DOCTYPE html>
<html lang="en">

<head>
    <title>SafeCDx - Terms and Conditions</title>
    <meta content="text/html; charset=utf-8" />
</head>

<body>
    <h2>Introduction to Terms and Conditions</h2>

    <p>If you choose to use the App by opting in, your information would be used to deliver helpful health information
        to
        you, and as a part of our ongoing efforts to keep you, our workforce, and customers safe and healthy.</p>

    <p>We have implemented industry-standard technical and organizational measures designed to secure your information.
        We
        take safety and security very seriously. At <span th:text='${organization_name}'></span>, we practice continued
        vigilance in preparing, preventing, monitoring and responding when it comes to data protection and cyber
        security.
    </p>

    <p>Please read the following terms before using the App. By using the App and its associated services ("Services"),
        you
        agree to be bound by the Terms of Service, Service Agreement and Informed Consent, Privacy Policy, and related
        notices (together, the "Agreement"). The App and its Services are brought to you by <span
            th:text='${organization_name}'></span>, and you and <span th:text='${organization_name}'></span> are parties
        to
        this Agreement. You understand and agree that <span th:text='${organization_name}'></span> may designate some of
        the
        Services to be provided by its third-party service provider, Safe Health Systems, Inc. ("SHS").</p>

    <p>If you choose to receive services through the App, you further agree to be bound by the additional terms that
        will be
        presented to you when you choose those services. Such terms and related documents are also included and
        incorporated
        into this Agreement.</p>

    <p>If you do not agree and consent to this Agreement, please do not use the App and the Services. If you are
        accepting
        this Agreement on behalf of a legal entity other than yourself as an individual, including a business or a
        government, you represent and warrant that you have full legal authority to bind such entity to this Agreement.
        You
        and <span th:text='${organization_name}'></span> may be referred to herein individually as a "Party" and
        collectively as the "Parties."</p>

    <p>This document was last updated December 19, 2024.</p>
</body>

</html>